<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <title>框架DemoA</title>
</head>
<body>
    <header>框架DemoA-头部</header>
    <div id="content1"></div>
    <div id="content2"></div>
    <footer>框架DemoA-尾部</footer>
    <script type="text/template" id="content1_tpl">
        <%= data.content %>
    </script>

    <script type="text/template" id="content2_tpl">
        <%= data.content %>
    </script>
</body>