<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <title>框架DemoA</title>
</head>
<body>
    <header></header>
    <div id="content1"></div>
    <div id="content2"></div>
    <img src="~biz-imgs/icon_unselect.png" />
    <div class="img_route"></div>
    <footer></footer>
</body>